In [15]:
from pyngrok import ngrok
!ngrok authtoken xyz

Authtoken saved to configuration file: /home/user/.config/ngrok/ngrok.yml

In [ ]:
# Step 13: Start Streamlit in the background
get_ipython().system_raw('nohup streamlit run main_streamlit.py &')
# Use ngrok to create a public URL for the Streamlit app
ngrok_tunnel_streamlit = ngrok.connect(addr="8501", proto="http", bind_tls=True)
# Print the public URL for Streamlit app
print("Streamlit app can be accessed at:", ngrok_tunnel_streamlit.public_url)

In [1]:
# Stop ngrok
!pkill ngrok

In [2]:
!pkill streamlit

In [ ]:
import sqlite3

# Create a connection to your SQLite database
sqlite_connection = sqlite3.connect('youtube_data.sqlite')

# Create a cursor object
sqlite_cursor = sqlite_connection.cursor()

# Define the SQL queries
query1 = '''
ALTER TABLE channels
ADD CONSTRAINT fk_playlist_id FOREIGN KEY (playlist_id) REFERENCES videos(playlist_id);
'''

query2 = '''
ALTER TABLE videos
ADD CONSTRAINT fk_video_id FOREIGN KEY (video_id) REFERENCES comments(video_id);
'''

query3 = '''
ALTER TABLE comments
ADD CONSTRAINT fk_comments_id FOREIGN KEY (video_id) REFERENCES videos(video_id);
'''

# Execute each query
sqlite_cursor.execute(query1)
sqlite_cursor.execute(query2)
sqlite_cursor.execute(query3)

# Commit the changes
sqlite_connection.commit()

# Close the connection
sqlite_connection.close()

In [4]:
!pip install python-dotenv

Collecting python-dotenv
  Downloading python_dotenv-1.0.1-py3-none-any.whl.metadata (23 kB)
Downloading python_dotenv-1.0.1-py3-none-any.whl (19 kB)
Installing collected packages: python-dotenv
Successfully installed python-dotenv-1.0.1

In [ ]:
# main.py

import os
from dotenv import load_dotenv
from youtube_data import YouTubeDataPipeline
from visualisations import YouTubeDataVisualisation

# Load environment variables from the .env file
load_dotenv()

# Access environment variables
mongodb_connection_string = os.getenv("MONGODB_URI")
api_key = os.getenv("API_KEY")
mongodb_database = os.getenv("mongodb_database")
mongodb_collection = os.getenv("mongodb_collection")
# SQLite path
sqlite_path = 'youtube_data.sqlite'
channel_id = 'UCQQtAQrZyCH54n-McGpC4ew'

In [6]:

# Instantiate the YouTubeDataVisualisation class
visualise = YouTubeDataVisualisation(sqlite_path)
youtube_pipeline = YouTubeDataPipeline(api_key, sqlite_path, mongodb_connection_string, mongodb_database, mongodb_collection)

In [25]:
youtube_pipeline.run_channel_pipeline(channel_id)

In [16]:
youtube_pipeline.get_video_ids(channel_id)

['EZimnpuQzLA',
 'kJ8dBbCTha8',
 'iyqlwN-XTHc',
 'OmDtI_WUl8o',
 '9CwIsMkeueU',
 'ej6SJ6HQ_jI',
 'M9TANxq6y_k',
 'R37y2ajj8AM',
 '23WvWmoloro',
 'sK8phhpPCMA',
 'RByuuZoj67o',
 '1Qz44knav-o',
 'P-PptsNa_fE',
 'cj-f52VBDas',
 'hFG_kpZ5BXs',
 'rAk9_Ilbd2c',
 'XYjMYzZ1phk',
 'OGAu5Q4FzT8',
 'sfmSktuncJc',
 'S0WTPogzAJU',
 '4hjjGrr0lWc',
 'YlFIYc4NQ58',
 '0A0pnOBnDpg',
 'jInzeMdpY6c',
 'PCwpkxopBO8',
 'iElelQhj4SM',
 'gUxUhWffIzc',
 'hA4tTbNiz0g',
 'lY1QDE200rU',
 'DqwO_kbAasw',
 'KxuWzY72RjY',
 'ADiqdB6kfWA',
 'xiwSBNqHV5Q',
 'NP8UP7dO9N4',
 'Ax6cDtpOVGk']

In [7]:
youtube_pipeline.get_channel_info(channel_id)

{'Channel_Name': 'Muhammad Ali',
 'Channel_ID': 'UCQQtAQrZyCH54n-McGpC4ew',
 'Subscription_Count': '379',
 'Channel_Views': '8873',
 'Channel_Description': "Hello world! I'm Ali, an AI engineer on a mission to helping you switch into tech easily via hands-on project tutorials and career focused podcasts.\n\nPeace, Ali! ✌️\n",
 'Playlist_ID': 'UUQQtAQrZyCH54n-McGpC4ew'}

In [8]:
youtube_pipeline.mongodb_channel_data(channel_id)

{'Channel_Name': 'Muhammad Ali',
 'Channel_ID': 'UCQQtAQrZyCH54n-McGpC4ew',
 'Subscription_Count': '326',
 'Channel_Views': '7768',
 'Channel_Description': "Hello world! I'm Ali, an AI engineer on a mission to helping you switch into tech easily via hands-on project tutorials and career focused podcasts.\n\nPeace, Ali! ✌️\n",
 'Playlist_ID': 'UUQQtAQrZyCH54n-McGpC4ew'}

In [31]:
youtube_pipeline.mongodb_channel_data('UCA5w3NR1-79VgWz-pUnhIFg')

{'Channel_Name': 'Shyamsundar Dharwad',
 'Channel_ID': 'UCA5w3NR1-79VgWz-pUnhIFg',
 'Subscription_Count': '4',
 'Channel_Views': '86',
 'Channel_Description': '',
 'Playlist_ID': 'UUA5w3NR1-79VgWz-pUnhIFg'}

In [ ]:
youtube_pipeline.mongodb_videos_data('UCLlxwk8DUs8yF3xfAiuc0SQ')

In [24]:
youtube_pipeline.sql_query(f"select * from channels where channel_id ='{channel_id}'")

,channel_id,channel_name,subscription_count,channel_views,channel_description,playlist_id
0,UCQQtAQrZyCH54n-McGpC4ew,Muhammad Ali,326,7768,"Hello world! I'm Ali, an AI engineer on a miss...",UUQQtAQrZyCH54n-McGpC4ew

In [34]:
youtube_pipeline.sql_query(f"select * from videos where playlist_id = 'UUQQtAQrZyCH54n-McGpC4ew' ")

Empty DataFrame
Columns: [video_id, video_name, video_description, tags, published_at, view_count, like_count, favorite_count, comment_count, duration, caption, thumbnail, playlist_id]
Index: []

In [38]:
playlist_id = youtube_pipeline.sql_query(f"SELECT playlist_id FROM channels WHERE channel_id = '{channel_id}'")
playlist_id

                playlist_id
0  UUQQtAQrZyCH54n-McGpC4ew

In [37]:
youtube_pipeline.sql_query(f"SELECT video_id FROM videos WHERE playlist_id = '{playlist_id}'")

Empty DataFrame
Columns: [video_id]
Index: []

In [14]:
youtube_pipeline.sql_query(f"select * from channels where channel_id ='{channel_id}'")

,channel_id,channel_name,subscription_count,channel_views,channel_description,playlist_id
0,UCQQtAQrZyCH54n-McGpC4ew,Muhammad Ali,326,7768,"Hello world! I'm Ali, an AI engineer on a miss...",UUQQtAQrZyCH54n-McGpC4ew